In [1]:
%logstop
%logstart -rtq ~/.logs/DS_Data_Munging.py append
import seaborn as sns
sns.set()

# Data Munging

## Relational Data

The simplest type of data we have see might consist a single table with a some columns and some rows. This sort of data is easy to analyze and compute and we generally want to reduce our data to a single table before we start running machine learning algorithms. Yet, real world data doesn't necessarily fit into this paradigm.  Most real world data is messy and complicated which doesn't fit well into a tabular format and we will have to do some work to reduce this complexity.  Additionally, in many case we can reduce our memory cost by not keeping data in a single table, but instead in a set of data structures with defined relations between them. 

Here we will explore a bit of data and see how combining different sets of data can help us generate useful features.

First we need some data.  We will make use of some data from Wikipedia and we will use the pandas `read_html` function to scrape the data from a particular webpage.  We will study the top 10 companies in the Fortune Global 500 which conveniently have [their own Wikipedia page](https://en.wikipedia.org/w/index.php?title=Fortune_Global_500&oldid=855890446).

We will download the data in tabular form, but work with it as a list of dictionaries, this will allow us to get used to working with unstructured data.

In [2]:
import pandas as pd
import json

df = pd.read_html('https://en.wikipedia.org/w/index.php?title=Fortune_Global_500&oldid=855890446', header=0)[0]
fortune_500 = json.loads(df.to_json(orient='records'))
df

   Rank                   Company         Country     Industry Revenue in USD
0     1                   Walmart   United States       Retail   $500 billion
1     2                State Grid           China        Power   $349 billion
2     3             Sinopec Group           China    Petroleum   $327 billion
3     4  China National Petroleum           China    Petroleum   $326 billion
4     5         Royal Dutch Shell     Netherlands    Petroleum   $312 billion
5     6              Toyota Motor           Japan  Automobiles   $265 billion
6     7                Volkswagen         Germany  Automobiles   $260 billion
7     8                        BP  United Kingdom    Petroleum   $245 billion
8     9               Exxon Mobil   United States    Petroleum   $244 billion
9    10        Berkshire Hathaway   United States     Products   $242 billion

Lets look at the data.

In [3]:
import requests

response = requests.get('https://www.spotify.com/id/account/subscription/update-payment-details/')
print(response.status_code)
print(response.reason)

200
OK

In [4]:
dir(response)

['__attrs__',
 '__bool__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__nonzero__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_content',
 '_content_consumed',
 '_next',
 'apparent_encoding',
 'close',
 'connection',
 'content',
 'cookies',
 'elapsed',
 'encoding',
 'headers',
 'history',
 'is_permanent_redirect',
 'is_redirect',
 'iter_content',
 'iter_lines',
 'json',
 'links',
 'next',
 'ok',
 'raise_for_status',
 'raw',
 'reason',
 'request',
 'status_code',
 'text',
 'url']

In [5]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(response.text, 'lxml')
soup

<!DOCTYPE html>
<html dir="ltr" id="app" lang="en" ng-csp="" ng-strict-di="">
<head>
<meta charset="utf-8"/>
<title ng-bind="('loginTitle' | localize) + ' - Spotify'">Spotify</title>
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
<base href="/"/>
<link href="https://accounts.scdn.co/sso/images/favicon.ace4d8543bbb017893402a1e9d1ac1fa.ico" rel="icon"/>
<link href="https://accounts.scdn.co/sso/css/index.d84e3901c7f2f2a4d0b7.css" media="screen" rel="stylesheet"/>
<script defer="" sp-bootstrap="" src="https://accounts.scdn.co/sso/js/index.d84e3901c7f2f2a4d0b7.js"></script>
<meta ng-non-bindable="" sp-bootstrap-data='{"phoneFeatureEnabled":false,"previewEnabled":false,"user":false,"tpaState":"AQDUtyjxZEEoUkFzSliHR8fHRzxbTUOnhJhfD/MPVN9Bb3c/vqjmhQTNXWX90DF4TC2MKEuklFCEfBPWb6PFBriQHDtPmu3R9KqKV+5vNs5gDe1MdJPaUORsc34BsXerNzuytrgpnc8tFc/izehdA5LYDreNuhWy1eOkRoPKNs2Zkwg9W9tSHThmFAPQjDO6JIPIllONwn3r6Azi0rR8lIZyJ4GeI2TDxUVriK7ma7A4R6fz1TYfuUaAjGgAeMV0du0fYGyEEiFPleUd7LIo+Q==","BON":["0","0",-194341850]}'/>
</head>
<body ng-controller="LoginController">
<div ng-include="template"></div>
</body>
</html>

In [6]:
dir(soup)

['ASCII_SPACES',
 'DEFAULT_BUILDER_FEATURES',
 'NO_PARSER_SPECIFIED_WARNING',
 'ROOT_TAG_NAME',
 '__bool__',
 '__call__',
 '__class__',
 '__contains__',
 '__copy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_all_strings',
 '_check_markup_is_url',
 '_decode_markup',
 '_feed',
 '_find_all',
 '_find_one',
 '_is_xml',
 '_lastRecursiveChild',
 '_last_descendant',
 '_linkage_fixer',
 '_most_recent_element',
 '_namespaces',
 '_popToTag',
 '_should_pretty_print',
 'append',
 'attrs',
 'builder',
 'can_be_empty_element',
 'cdata_list_attributes',
 'childGenerator',
 'children',
 'clear',
 'contains_replacement_characters',
 'contents',
 'currentTag',
 'current_data',
 'declared_html_encoding',
 'decode',
 'decode_contents',
 'decompose',
 'decomposed',
 'descendants',
 'element_classes',
 'encode',
 'encode_contents',
 'endData',
 'extend',
 'extract',
 'fetchNextSiblings',
 'fetchParents',
 'fetchPrevious',
 'fetchPreviousSiblings',
 'find',
 'findAll',
 'findAllNext',
 'findAllPrevious',
 'findChild',
 'findChildren',
 'findNext',
 'findNextSibling',
 'findNextSiblings',
 'findParent',
 'findParents',
 'findPrevious',
 'findPreviousSibling',
 'findPreviousSiblings',
 'find_all',
 'find_all_next',
 'find_all_previous',
 'find_next',
 'find_next_sibling',
 'find_next_siblings',
 'find_parent',
 'find_parents',
 'find_previous',
 'find_previous_sibling',
 'find_previous_siblings',
 'format_string',
 'formatter_for_name',
 'get',
 'getText',
 'get_attribute_list',
 'get_text',
 'handle_data',
 'handle_endtag',
 'handle_starttag',
 'has_attr',
 'has_key',
 'hidden',
 'index',
 'insert',
 'insert_after',
 'insert_before',
 'isSelfClosing',
 'is_empty_element',
 'is_xml',
 'known_xml',
 'markup',
 'name',
 'namespace',
 'new_string',
 'new_tag',
 'next',
 'nextGenerator',
 'nextSibling',
 'nextSiblingGenerator',
 'next_element',
 'next_elements',
 'next_sibling',
 'next_siblings',
 'object_was_parsed',
 'open_tag_counter',
 'original_encoding',
 'parent',
 'parentGenerator',
 'parents',
 'parse_only',
 'parserClass',
 'parser_class',
 'popTag',
 'prefix',
 'preserve_whitespace_tag_stack',
 'preserve_whitespace_tags',
 'prettify',
 'previous',
 'previousGenerator',
 'previousSibling',
 'previousSiblingGenerator',
 'previous_element',
 'previous_elements',
 'previous_sibling',
 'previous_siblings',
 'pushTag',
 'recursiveChildGenerator',
 'renderContents',
 'replaceWith',
 'replaceWithChildren',
 'replace_with',
 'replace_with_children',
 'reset',
 'select',
 'select_one',
 'setup',
 'smooth',
 'string',
 'string_container',
 'string_container_stack',
 'strings',
 'stripped_strings',
 'tagStack',
 'text',
 'unwrap',
 'wrap']

This is a great start to our analysis, however, there really isn't that much information here, we will need to bring in additional data sources to get any further understanding of these companies.

The first question we might want to ask is how many employees does it take to get that revenue, in other words, what is the revenue per employee?  Luckily, we can use Wikipedia to get that data as well, we have scraped this data manually (all from Wikipedia) and created the following dictionary.

In [7]:
fortune_500

[{'Rank': 1,
  'Company': 'Walmart',
  'Country': 'United States',
  'Industry': 'Retail',
  'Revenue in USD': '$500 billion'},
 {'Rank': 2,
  'Company': 'State Grid',
  'Country': 'China',
  'Industry': 'Power',
  'Revenue in USD': '$349 billion'},
 {'Rank': 3,
  'Company': 'Sinopec Group',
  'Country': 'China',
  'Industry': 'Petroleum',
  'Revenue in USD': '$327 billion'},
 {'Rank': 4,
  'Company': 'China National Petroleum',
  'Country': 'China',
  'Industry': 'Petroleum',
  'Revenue in USD': '$326 billion'},
 {'Rank': 5,
  'Company': 'Royal Dutch Shell',
  'Country': 'Netherlands',
  'Industry': 'Petroleum',
  'Revenue in USD': '$312 billion'},
 {'Rank': 6,
  'Company': 'Toyota Motor',
  'Country': 'Japan',
  'Industry': 'Automobiles',
  'Revenue in USD': '$265 billion'},
 {'Rank': 7,
  'Company': 'Volkswagen',
  'Country': 'Germany',
  'Industry': 'Automobiles',
  'Revenue in USD': '$260 billion'},
 {'Rank': 8,
  'Company': 'BP',
  'Country': 'United Kingdom',
  'Industry': 'Petroleum',
  'Revenue in USD': '$245 billion'},
 {'Rank': 9,
  'Company': 'Exxon Mobil',
  'Country': 'United States',
  'Industry': 'Petroleum',
  'Revenue in USD': '$244 billion'},
 {'Rank': 10,
  'Company': 'Berkshire Hathaway',
  'Country': 'United States',
  'Industry': 'Products',
  'Revenue in USD': '$242 billion'}]

In [8]:
other_data = [
    {"name": "Walmart",
     "employees": 2300000,
     "year founded": 1962
    },
    {"name": "State Grid Corporation of China",
     "employees": 927839,
     "year founded": 2002},
    {"name": "China Petrochemical Corporation",
     "employees":358571,
     "year founded": 1998
     },
    {"name": "China National Petroleum Corporation",
     "employees": 1636532,
     "year founded": 1988},
    {"name": "Toyota Motor Corporation",
     "employees": 364445,
     "year founded": 1937},
    {"name": "Volkswagen AG",
     "employees": 642292,
     "year founded": 1937},
    {"name": "Royal Dutch Shell",
     "employees": 92000,
     "year founded": 1907},
    {"name": "Berkshire Hathaway Inc.",
     "employees":377000,
     "year founded": 1839},
    {"name": "Apple Inc.",
     "employees": 123000,
     "year founded": 1976},
    {"name": "Exxon Mobile Corporation",
     "employees": 69600,
     "year founded": 1999},
    {"name": "BP plc",
     "employees": 74000,
     "year founded": 1908}
]

Some data have a slightly different name than in our original set, so we will keep a dictionary of mappings between the two.  Notice, we only include the mapping in the dictionary if there is a difference.

In [9]:
mapping = {
    'Apple': 'Apple Inc.',
    'BP': 'BP plc',
    'Berkshire Hathaway': 'Berkshire Hathaway Inc.',
    'China National Petroleum': 'China National Petroleum Corporation',
    'Exxon Mobil': 'Exxon Mobile Corporation',
    'Sinopec Group': 'China Petrochemical Corporation',
    'State Grid': 'State Grid Corporation of China',
    'Toyota Motor': 'Toyota Motor Corporation',
    'Volkswagen': 'Volkswagen AG'
}

This data is one to one, meaning the data contained in one source only aligns with a single element in the other source, thus we should be able to put these together.  However, we know that the data isn't in a great form to be joined at the moment.  This is for two reasons

1. All the names will not align (we need to use our mapping)
2. The `list` structure is not optimized for looking through elements. 

While for 10 elements the second reason won't really matter, for larger data sets such performance considerations are extremely important.  We can turn this list of dictionaries into a dictionary of dictionaries, so we can quickly access each element of the data.

In [10]:
dict_data = {k["name"] : k for k in other_data}
dict_data

{'Walmart': {'name': 'Walmart', 'employees': 2300000, 'year founded': 1962},
 'State Grid Corporation of China': {'name': 'State Grid Corporation of China',
  'employees': 927839,
  'year founded': 2002},
 'China Petrochemical Corporation': {'name': 'China Petrochemical Corporation',
  'employees': 358571,
  'year founded': 1998},
 'China National Petroleum Corporation': {'name': 'China National Petroleum Corporation',
  'employees': 1636532,
  'year founded': 1988},
 'Toyota Motor Corporation': {'name': 'Toyota Motor Corporation',
  'employees': 364445,
  'year founded': 1937},
 'Volkswagen AG': {'name': 'Volkswagen AG',
  'employees': 642292,
  'year founded': 1937},
 'Royal Dutch Shell': {'name': 'Royal Dutch Shell',
  'employees': 92000,
  'year founded': 1907},
 'Berkshire Hathaway Inc.': {'name': 'Berkshire Hathaway Inc.',
  'employees': 377000,
  'year founded': 1839},
 'Apple Inc.': {'name': 'Apple Inc.',
  'employees': 123000,
  'year founded': 1976},
 'Exxon Mobile Corporation': {'name': 'Exxon Mobile Corporation',
  'employees': 69600,
  'year founded': 1999},
 'BP plc': {'name': 'BP plc', 'employees': 74000, 'year founded': 1908}}

**Question:** If we had many entries in `other_data`, we could display a small piece by printing `other_data[:5]`. With dataframes we might use `df.head()`. Can you think of a way to print out a small piece of a dictionary?

In [11]:
dict(list(dict_data.items())[:3])

{'Walmart': {'name': 'Walmart', 'employees': 2300000, 'year founded': 1962},
 'State Grid Corporation of China': {'name': 'State Grid Corporation of China',
  'employees': 927839,
  'year founded': 2002},
 'China Petrochemical Corporation': {'name': 'China Petrochemical Corporation',
  'employees': 358571,
  'year founded': 1998}}

In [12]:
def dict_head(d):
    return dict(list(d.items())[:5])

In [13]:
dict_head(dict_data)

{'Walmart': {'name': 'Walmart', 'employees': 2300000, 'year founded': 1962},
 'State Grid Corporation of China': {'name': 'State Grid Corporation of China',
  'employees': 927839,
  'year founded': 2002},
 'China Petrochemical Corporation': {'name': 'China Petrochemical Corporation',
  'employees': 358571,
  'year founded': 1998},
 'China National Petroleum Corporation': {'name': 'China National Petroleum Corporation',
  'employees': 1636532,
  'year founded': 1988},
 'Toyota Motor Corporation': {'name': 'Toyota Motor Corporation',
  'employees': 364445,
  'year founded': 1937}}

Now we can easily compute the revenue per employee, we need to map the "Company" value in our original data with the "name" column of this other data, but we also need to use the mapping to ensure the columns will line up.  We in general don't want to mutate our original data, so lets make a new list of dictionaries with this new feature (revenue per employee).  On the course of doing this, we will need to handle converting some numbers like `$500 Billion` to a numeric value.  Lets create a function to do this.

In [14]:
def convert_revenue(x):
    return int(x.lstrip('$').rstrip('billion'))*1e9

In [15]:
assert convert_revenue('$500 billion') == 500e9

In [16]:
[convert_revenue(company['Revenue in USD']) for company in fortune_500]

[500000000000.0,
 349000000000.0,
 327000000000.0,
 326000000000.0,
 312000000000.0,
 265000000000.0,
 260000000000.0,
 245000000000.0,
 244000000000.0,
 242000000000.0]

In [17]:
mapping

{'Apple': 'Apple Inc.',
 'BP': 'BP plc',
 'Berkshire Hathaway': 'Berkshire Hathaway Inc.',
 'China National Petroleum': 'China National Petroleum Corporation',
 'Exxon Mobil': 'Exxon Mobile Corporation',
 'Sinopec Group': 'China Petrochemical Corporation',
 'State Grid': 'State Grid Corporation of China',
 'Toyota Motor': 'Toyota Motor Corporation',
 'Volkswagen': 'Volkswagen AG'}

In [18]:
name = 'Sinopec Group'
dict_data[mapping.get(name, name)].get('employees')

358571

Now we should be able to create a few functions to compute this revenue per employee and create a data list.

In [19]:
def rev_per_emp(company):
    name = company[u'Company']
    n_employees = dict_data[mapping.get(name,name)].get('employees')
    company['Salary'] = convert_revenue(company[u'Revenue in USD'])/n_employees
    return company

def compute_copy(d, func):
    return func({k:v for k, v in d.items()})

data = list(map(lambda x : compute_copy(x, rev_per_emp), fortune_500))

Lets take a look at our new data and also the old data to ensure we didn't mutate anything.

In [20]:
data[:2]

[{'Rank': 1,
  'Company': 'Walmart',
  'Country': 'United States',
  'Industry': 'Retail',
  'Revenue in USD': '$500 billion',
  'Salary': 217391.30434782608},
 {'Rank': 2,
  'Company': 'State Grid',
  'Country': 'China',
  'Industry': 'Power',
  'Revenue in USD': '$349 billion',
  'Salary': 376142.84374767606}]

In [21]:
fortune_500[:2]

[{'Rank': 1,
  'Company': 'Walmart',
  'Country': 'United States',
  'Industry': 'Retail',
  'Revenue in USD': '$500 billion'},
 {'Rank': 2,
  'Company': 'State Grid',
  'Country': 'China',
  'Industry': 'Power',
  'Revenue in USD': '$349 billion'}]

Now we can sort these values.  We first can select out on the elements we care about and then sort that list.

In [22]:
rev_per_emp = sorted([(i[u'Company'], i['Salary']) for i in data],
                    key = lambda x : x[1],
                    reverse = True)
rev_per_emp

[('Exxon Mobil', 3505747.1264367816),
 ('Royal Dutch Shell', 3391304.347826087),
 ('BP', 3310810.810810811),
 ('Sinopec Group', 911953.2812190612),
 ('Toyota Motor', 727133.0379069544),
 ('Berkshire Hathaway', 641909.8143236075),
 ('Volkswagen', 404800.30889377417),
 ('State Grid', 376142.84374767606),
 ('Walmart', 217391.30434782608),
 ('China National Petroleum', 199201.72657790987)]

This results in a much different order.  What does this tell us about the companies?

Now lets pull in some other data (this is data science, more data is always better!).  We can see that these companies are in a few different industries, let find out which ones.

In [23]:
from collections import Counter
Counter(j[u'Industry'] for j in data)

Counter({'Retail': 1,
         'Power': 1,
         'Petroleum': 5,
         'Automobiles': 2,
         'Products': 1})

One thing we might want to know is what sort of market share they have of the specific industry to which they belong.  Let's look at the two industries that categorize the 6 of the top 10, `Automobiles` and `Petroleum`.  We can select only those elements of our data to work with.

In [26]:
sub_data = [i for i in data if i[u'Industry'] in [u'Automobiles', u'Petroleum']]
sub_data

[{'Rank': 3,
  'Company': 'Sinopec Group',
  'Country': 'China',
  'Industry': 'Petroleum',
  'Revenue in USD': '$327 billion',
  'Salary': 911953.2812190612},
 {'Rank': 4,
  'Company': 'China National Petroleum',
  'Country': 'China',
  'Industry': 'Petroleum',
  'Revenue in USD': '$326 billion',
  'Salary': 199201.72657790987},
 {'Rank': 5,
  'Company': 'Royal Dutch Shell',
  'Country': 'Netherlands',
  'Industry': 'Petroleum',
  'Revenue in USD': '$312 billion',
  'Salary': 3391304.347826087},
 {'Rank': 6,
  'Company': 'Toyota Motor',
  'Country': 'Japan',
  'Industry': 'Automobiles',
  'Revenue in USD': '$265 billion',
  'Salary': 727133.0379069544},
 {'Rank': 7,
  'Company': 'Volkswagen',
  'Country': 'Germany',
  'Industry': 'Automobiles',
  'Revenue in USD': '$260 billion',
  'Salary': 404800.30889377417},
 {'Rank': 8,
  'Company': 'BP',
  'Country': 'United Kingdom',
  'Industry': 'Petroleum',
  'Revenue in USD': '$245 billion',
  'Salary': 3310810.810810811},
 {'Rank': 9,
  'Company': 'Exxon Mobil',
  'Country': 'United States',
  'Industry': 'Petroleum',
  'Revenue in USD': '$244 billion',
  'Salary': 3505747.1264367816}]

It might be the case that the each particular category has a different relevant metric for market share.  For example, we could look at total revenue for a car company or we could look at cars produced.  

So for the automobile industry we will look at the percent total of cars produced.  We can get this data again from Wikipedia.

In [32]:
df_list = pd.read_html('https://en.wikipedia.org/w/index.php?title=Automotive_industry&oldid=875776152', header=0)
car_totals = json.loads(df_list[0].to_json(orient='records'))
car_by_man = json.loads(df_list[2].to_json(orient='records'))

In [30]:
car_totals[:2]

[{'Year': 1997, 'Production': 54434000, 'Change': 'â€”', 'Source': '[17]'},
 {'Year': 1998, 'Production': 52987000, 'Change': '2.7%', 'Source': '[17]'}]

In [33]:
car_by_man[:2]

[{'Rank': 1, 'Group': 'Toyota', 'Country': 'Japan', 'Vehicles': 10213486},
 {'Rank': 2,
  'Group': 'Volkswagen Group',
  'Country': 'Germany',
  'Vehicles': 10126281}]

Now lets get only the groups we care about and divide by the total production which we will take as the latest year.

In [35]:
total_prod = sorted((i[u'Year'], i[u'Production']) for i in car_totals)[-1][1]
total_prod

97302534

Now we can find the market share for each of the car companies. We will keep track of a market share dictionary.  We will again need to keep track of some slight name differences.

In [47]:
car_by_man_dict = {i[u'Group']:i[u'Vehicles'] for i in car_by_man}
market_share = {}
for name, orig_name in zip(['Toyota', 'Volkswagen Group'], ['Toyota', 'Volkswagen']):
    market_share[orig_name] = car_by_man_dict[name]/float(total_prod)

market_share

{'Toyota': 0.1049662899837737, 'Volkswagen': 0.10407006460900597}

In [50]:
car_by_man_dict[name]

10126281

Now we can do the same for the Petroleum industry, but in this case, lets compute the market share by revenue.  On Wikipedia, we can find a list of oil companies by revenue.  Although its not a complete list, it has enough companies that we don't expect the companies left off the list to contribute greatly to our analysis.

In [59]:
rev = pd.read_html('https://en.wikipedia.org/w/index.php?title=List_of_largest_oil_and_gas_companies_by_revenue&oldid=871711850', header=1)[0]
rev = rev.iloc[:, 1:3]
rev.columns = ['Company', 'Revenue']
rev = rev[~(rev['Company'] == 'Company name')]
oil_data = json.loads(rev.to_json(orient='records'))
oil_data[:5]

[{'Company': 'Saudi Aramco', 'Revenue': '465.49'},
 {'Company': 'Sinopec Group', 'Revenue': '448.00'},
 {'Company': 'China National Petroleum Corporation', 'Revenue': '428.62'},
 {'Company': 'Exxon Mobil', 'Revenue': '268.9'},
 {'Company': 'Royal Dutch Shell', 'Revenue': '265'}]

In [58]:
rev = pd.read_html('https://en.wikipedia.org/w/index.php?title=List_of_largest_oil_and_gas_companies_by_revenue&oldid=871711850', header=1)[0]
rev.iloc[:, 1:3]

                            Company name Revenue 2017(US$ billion)
0                           Saudi Aramco                    465.49
1                          Sinopec Group                    448.00
2   China National Petroleum Corporation                    428.62
3                            Exxon Mobil                     268.9
4                      Royal Dutch Shell                       265
5           Kuwait Petroleum Corporation                    251.94
6                                     BP                     222.8
7                               Total SA                       212
8                                 Lukoil                    144.17
9                                    Eni                    131.82
10                         Valero Energy                    130.84
11                   Chevron Corporation                     129.9
12                                 PDVSA                    128.44
13                                 Pemex                    117.50
14          National Iranian Oil Company                  110.00**
15                               Gazprom                     106.3
16                           Phillips 66                    102.35
17                              Petronas                    100.74
18           China National Offshore Oil                     98.53
19                    Marathon Petroleum                     97.81
20                                   PTT                     93.55
21                               Rosneft                     91.72
22                           JX Holdings                     90.67
23                                 Engie                     89.64
24                             Petrobras                      88.8
25                               Equinor                     82.48
26                Indian Oil Corporation                     81.55
27                             Sonatrach                   76.10**
28                   Reliance Industries                     73.10
29                             Pertamina                     70.65
30                                 SOCAR                     54.79
31                             GS Caltex                     50.26
32                   Enterprise Products                     47.95
33                                Repsol                     47.29
34                              Centrica                     45.29
35                      Bharat Petroleum                     43.46
36                             OMV Group                     43.09
37                        Idemitsu Kosan                     38.58
38                   Hindustan Petroleum                     37.85
39                             PKN Orlen                      36.1
40                          Schlumberger                     35.47
41                         Suncor Energy                     34.66
42                    Hellenic Petroleum                     31.28
43                        ConocoPhillips                     29.11
44                      Motor Oil Hellas                     28.98
45                             Ecopetrol                     26.99
46                                 CEPSA                     26.90
47                                   MOL                     24.63

Now we can compute the totals and market share.  Since the data here might be slightly different (perhaps older) than our original data, we will compute the market share of each company within this data set, then pull out the numbers we care about.

In [68]:
total = sum([float(i[u'Revenue'].rstrip('*')) for i in oil_data])
shares = {i[u'Company']:float(i[u'Revenue'].rstrip('*'))/total for i in oil_data}
list(shares.items())[:5]

[('Saudi Aramco', 0.08491104669934275),
 ('Sinopec Group', 0.0817206576323993),
 ('China National Petroleum Corporation', 0.07818550954106918),
 ('Exxon Mobil', 0.0490506357976611),
 ('Royal Dutch Shell', 0.04833922828702191)]

Now we can pull out the companies we care about in the petroleum industry.

In [69]:
petro_companies = [i[u'Company'] for i in data if i['Industry'] == u'Petroleum']
petro_companies

['Sinopec Group',
 'China National Petroleum',
 'Royal Dutch Shell',
 'BP',
 'Exxon Mobil']

Lets check if these are all in the our shares dictionary.

In [70]:
[(i, i in shares) for i in petro_companies]

[('Sinopec Group', True),
 ('China National Petroleum', False),
 ('Royal Dutch Shell', True),
 ('BP', True),
 ('Exxon Mobil', True)]

Some of these companies are directly there, and looking through our dictionary, we can see the others are there without exact names.

In [71]:
shares.keys()

dict_keys(['Saudi Aramco', 'Sinopec Group', 'China National Petroleum Corporation', 'Exxon Mobil', 'Royal Dutch Shell', 'Kuwait Petroleum Corporation', 'BP', 'Total SA', 'Lukoil', 'Eni', 'Valero Energy', 'Chevron Corporation', 'PDVSA', 'Pemex', 'National Iranian Oil Company', 'Gazprom', 'Phillips 66', 'Petronas', 'China National Offshore Oil', 'Marathon Petroleum', 'PTT', 'Rosneft', 'JX Holdings', 'Engie', 'Petrobras', 'Equinor', 'Indian Oil Corporation', 'Sonatrach', 'Reliance Industries', 'Pertamina', 'SOCAR', 'GS Caltex', 'Enterprise Products', 'Repsol', 'Centrica', 'Bharat Petroleum', 'OMV Group', 'Idemitsu Kosan', 'Hindustan Petroleum', 'PKN Orlen', 'Schlumberger', 'Suncor Energy', 'Hellenic Petroleum', 'ConocoPhillips', 'Motor Oil Hellas', 'Ecopetrol', 'CEPSA', 'MOL'])

So lets make a fuzzy match, this will be a pretty simple one where it will try to match words in a name and take the maximum number of matches.

In [ ]:
def fuzzy_match(word, s):
    words = set(word.split(' '))
    overlaps = [(k, len(v.intersection(words))) for k, v in s.items()]
    return max(overlaps, key=lambda x : x[1])[0]

In [74]:
def fuzzy_match(word, s):
    words = set(word.split(' '))
    overlaps = [(k, len(v.intersection(words))) for k, v in s.items()]
    return max(overlaps, key=lambda x: x[1])[0]

split_names = {i: set(i.split(' ')) for i in shares.keys()}
for i in petro_companies:
    match = fuzzy_match(i, split_names)
    print('matched {} to {}'.format(i, match))
    market_share[i] = shares[match]

matched Sinopec Group to Sinopec Group
matched China National Petroleum to China National Petroleum Corporation
matched Royal Dutch Shell to Royal Dutch Shell
matched BP to BP
matched Exxon Mobil to Exxon Mobil

In [76]:
[(i, i in market_share) for i in petro_companies]

[('Sinopec Group', True),
 ('China National Petroleum', True),
 ('Royal Dutch Shell', True),
 ('BP', True),
 ('Exxon Mobil', True)]

## By industry
We have some nice examples of data munging, now lets see an example of keeping data in a relational fashion.  Lets say we want to add another feature which is the growth of each industry.  If we were to store this data as a single quantity, we would be saving a bunch of extra information, we would be much better off extracting this information and keeping it in a single table so we are not replicating by industry.

## With Pandas

Now we can also perform these same computations with Pandas, lets see how this compares.

In [77]:
df = pd.read_html('https://en.wikipedia.org/w/index.php?title=Fortune_Global_500&oldid=855890446', header=0)[0]
df

   Rank                   Company         Country     Industry Revenue in USD
0     1                   Walmart   United States       Retail   $500 billion
1     2                State Grid           China        Power   $349 billion
2     3             Sinopec Group           China    Petroleum   $327 billion
3     4  China National Petroleum           China    Petroleum   $326 billion
4     5         Royal Dutch Shell     Netherlands    Petroleum   $312 billion
5     6              Toyota Motor           Japan  Automobiles   $265 billion
6     7                Volkswagen         Germany  Automobiles   $260 billion
7     8                        BP  United Kingdom    Petroleum   $245 billion
8     9               Exxon Mobil   United States    Petroleum   $244 billion
9    10        Berkshire Hathaway   United States     Products   $242 billion

In [79]:
df['Revenue'] = df['Revenue in USD'].apply(convert_revenue)
df['Employees'] = df['Company'].apply(lambda x : dict_data[mapping.get(x, x)].get('employees'))
df['Salary'] = df['Revenue'] / df['Employees'].astype(float)
df.sort_values(by='Salary', ascending=False)

,Rank,Company,Country,Industry,Revenue in USD,Revenue,Employees,Salary
8,9,Exxon Mobil,United States,Petroleum,$244 billion,2.440000e+11,69600,3.505747e+06
4,5,Royal Dutch Shell,Netherlands,Petroleum,$312 billion,3.120000e+11,92000,3.391304e+06
7,8,BP,United Kingdom,Petroleum,$245 billion,2.450000e+11,74000,3.310811e+06
2,3,Sinopec Group,China,Petroleum,$327 billion,3.270000e+11,358571,9.119533e+05
5,6,Toyota Motor,Japan,Automobiles,$265 billion,2.650000e+11,364445,7.271330e+05
9,10,Berkshire Hathaway,United States,Products,$242 billion,2.420000e+11,377000,6.419098e+05
6,7,Volkswagen,Germany,Automobiles,$260 billion,2.600000e+11,642292,4.048003e+05
1,2,State Grid,China,Power,$349 billion,3.490000e+11,927839,3.761428e+05
0,1,Walmart,United States,Retail,$500 billion,5.000000e+11,2300000,2.173913e+05
3,4,China National Petroleum,China,Petroleum,$326 billion,3.260000e+11,1636532,1.992017e+05

In [80]:
df_list = pd.read_html("https://en.wikipedia.org/w/index.php?title=Automotive_industry&oldid=875776152", header=0)
df_totals = df_list[0]
df_by_man = df_list[2]

In [81]:
total_prod = df_totals.sort_values(by='Year').iloc[-1]['Production']
total_prod

97302534

In [85]:
df_by_man['share'] = df_by_man['Vehicles'].astype(float) / total_prod
market_share = df_by_man.set_index('Group').loc[['Toyota', 'Volkswagen Group'], 'share']
market_share

Group
Toyota              0.104966
Volkswagen Group    0.104070
Name: share, dtype: float64

In [86]:
rev = pd.read_html("https://en.wikipedia.org/w/index.php?title=List_of_largest_oil_and_gas_companies_by_revenue&oldid=871711850", header=1)[0]
rev = rev.iloc[:, 1:3]
rev.columns = ['Company', 'Revenue']
rev = rev[~(rev['Company'] == 'Company name')]
rev

                                 Company   Revenue
0                           Saudi Aramco    465.49
1                          Sinopec Group    448.00
2   China National Petroleum Corporation    428.62
3                            Exxon Mobil     268.9
4                      Royal Dutch Shell       265
5           Kuwait Petroleum Corporation    251.94
6                                     BP     222.8
7                               Total SA       212
8                                 Lukoil    144.17
9                                    Eni    131.82
10                         Valero Energy    130.84
11                   Chevron Corporation     129.9
12                                 PDVSA    128.44
13                                 Pemex    117.50
14          National Iranian Oil Company  110.00**
15                               Gazprom     106.3
16                           Phillips 66    102.35
17                              Petronas    100.74
18           China National Offshore Oil     98.53
19                    Marathon Petroleum     97.81
20                                   PTT     93.55
21                               Rosneft     91.72
22                           JX Holdings     90.67
23                                 Engie     89.64
24                             Petrobras      88.8
25                               Equinor     82.48
26                Indian Oil Corporation     81.55
27                             Sonatrach   76.10**
28                   Reliance Industries     73.10
29                             Pertamina     70.65
30                                 SOCAR     54.79
31                             GS Caltex     50.26
32                   Enterprise Products     47.95
33                                Repsol     47.29
34                              Centrica     45.29
35                      Bharat Petroleum     43.46
36                             OMV Group     43.09
37                        Idemitsu Kosan     38.58
38                   Hindustan Petroleum     37.85
39                             PKN Orlen      36.1
40                          Schlumberger     35.47
41                         Suncor Energy     34.66
42                    Hellenic Petroleum     31.28
43                        ConocoPhillips     29.11
44                      Motor Oil Hellas     28.98
45                             Ecopetrol     26.99
46                                 CEPSA     26.90
47                                   MOL     24.63

In [87]:
rev['rev_clean'] = rev['Revenue'].apply(lambda x : float(x.rstrip('*')))
total = rev['rev_clean'].sum()
total

5482.09

In [88]:
rev['share'] = rev['rev_clean'] / total
rev

                                 Company   Revenue  rev_clean     share
0                           Saudi Aramco    465.49     465.49  0.084911
1                          Sinopec Group    448.00     448.00  0.081721
2   China National Petroleum Corporation    428.62     428.62  0.078186
3                            Exxon Mobil     268.9     268.90  0.049051
4                      Royal Dutch Shell       265     265.00  0.048339
5           Kuwait Petroleum Corporation    251.94     251.94  0.045957
6                                     BP     222.8     222.80  0.040641
7                               Total SA       212     212.00  0.038671
8                                 Lukoil    144.17     144.17  0.026298
9                                    Eni    131.82     131.82  0.024046
10                         Valero Energy    130.84     130.84  0.023867
11                   Chevron Corporation     129.9     129.90  0.023695
12                                 PDVSA    128.44     128.44  0.023429
13                                 Pemex    117.50     117.50  0.021433
14          National Iranian Oil Company  110.00**     110.00  0.020065
15                               Gazprom     106.3     106.30  0.019390
16                           Phillips 66    102.35     102.35  0.018670
17                              Petronas    100.74     100.74  0.018376
18           China National Offshore Oil     98.53      98.53  0.017973
19                    Marathon Petroleum     97.81      97.81  0.017842
20                                   PTT     93.55      93.55  0.017065
21                               Rosneft     91.72      91.72  0.016731
22                           JX Holdings     90.67      90.67  0.016539
23                                 Engie     89.64      89.64  0.016351
24                             Petrobras      88.8      88.80  0.016198
25                               Equinor     82.48      82.48  0.015045
26                Indian Oil Corporation     81.55      81.55  0.014876
27                             Sonatrach   76.10**      76.10  0.013882
28                   Reliance Industries     73.10      73.10  0.013334
29                             Pertamina     70.65      70.65  0.012887
30                                 SOCAR     54.79      54.79  0.009994
31                             GS Caltex     50.26      50.26  0.009168
32                   Enterprise Products     47.95      47.95  0.008747
33                                Repsol     47.29      47.29  0.008626
34                              Centrica     45.29      45.29  0.008261
35                      Bharat Petroleum     43.46      43.46  0.007928
36                             OMV Group     43.09      43.09  0.007860
37                        Idemitsu Kosan     38.58      38.58  0.007037
38                   Hindustan Petroleum     37.85      37.85  0.006904
39                             PKN Orlen      36.1      36.10  0.006585
40                          Schlumberger     35.47      35.47  0.006470
41                         Suncor Energy     34.66      34.66  0.006322
42                    Hellenic Petroleum     31.28      31.28  0.005706
43                        ConocoPhillips     29.11      29.11  0.005310
44                      Motor Oil Hellas     28.98      28.98  0.005286
45                             Ecopetrol     26.99      26.99  0.004923
46                                 CEPSA     26.90      26.90  0.004907
47                                   MOL     24.63      24.63  0.004493

In [89]:
rev = rev[rev['Company'].isin(['Exxon Mobil', 'Sinopec', 'China National Petroleum Corporation', 'Royal Dutch Shell'])].copy()
rev

                                Company Revenue  rev_clean     share
2  China National Petroleum Corporation  428.62     428.62  0.078186
3                           Exxon Mobil   268.9     268.90  0.049051
4                     Royal Dutch Shell     265     265.00  0.048339

In [90]:
# do fuzzy search
split_names = {i: set(i.split(' ')) for i in df['Company']}

def fuzzy(word):
    return fuzzy_match(word, split_names)

rev['name'] = rev['Company'].apply(fuzzy)
rev

,Company,Revenue,rev_clean,share,name
2,China National Petroleum Corporation,428.62,428.62,0.078186,China National Petroleum
3,Exxon Mobil,268.9,268.90,0.049051,Exxon Mobil
4,Royal Dutch Shell,265,265.00,0.048339,Royal Dutch Shell

In [91]:
ms2 = df.merge(rev[['share', 'name']], left_on='Company', right_on='name')

Now we want to put these together and get only the company and the market share.

In [92]:
ms = market_share.reset_index()[['Group','share']]
ms.columns = ['Company', 'share']
pd.concat([ms, ms2[['Company', 'share']]])

                    Company     share
0                    Toyota  0.104966
1          Volkswagen Group  0.104070
0  China National Petroleum  0.078186
1         Royal Dutch Shell  0.048339
2               Exxon Mobil  0.049051

*Copyright &copy; 2021 WorldQuant University. This content is licensed solely for personal use. Redistribution or publication of this material is strictly prohibited.*